.navbar{
    padding: 2px;
}
.card-img-top{
    width: 100%;
    height: 50vh;
}
.card-text{
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 3;
    -webkit-box-orient :vertical;
    overflow: hidden;
}
#noPrice{
    display: none;
}
#havePrice{
    display: block;
}
.df{
    display: flex;
    align-items: center;
    justify-content: space-between;
}